$padd_margin_xs: 5px;
$padd_margin_sm: 10px;
$padd_margin_nm: 20px;
$padd_margin_md: 30px;
$padd_margin_lg: 50px;
$padd_margin_xl: 85px;

$color_base_body: #f0f0f0;
$color_base_card: #fff;

$color_base_input-hover: #a6c277;
$color_base_input-active: #9fba60;
$color_base_input-border: #ddd;

$color_header-card: #c2c2c2;
$color_base_has-success: #64a762;
$color_base_has-error: #e04b59;

$color_base_btn-font: #565656;
$color_base_btn: #e4e4e4;
$color_base_btn-hover: #eaeaea;
$color_base_btn-active: #e1e1e1;

$color_base_btn-border: #d3d3d3;
$color_white: #fff;

$font_size_title-card: 16px;
$font_size_input: 13px;
$font_size_btn: 14px;